* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #00CC99;
}

.carousel.slide{
    width: 700px;
    text-align: center;
}

.container.justify-content-start{
    margin-left: 150px;
}

